.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &InGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        &_link{
            width: 150px;
            text-decoration: none;
            font-size: 0.675rem;
        }
    }

}



.page {
    // background-color: blue;

    &_learned {
        background-color: blue;
    }
}

