.header {
  backdrop-filter: blur(8px);
  background-color: transparentize(#ffffff, 0.07);

  &Toolbar {
    padding: 0;
    justify-content: flex-start;
    gap: var(--spacing-x4);
  }

  &Logo {
    font-weight: 600;
    letter-spacing: 0.02em;
  }

  &UserBox {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--spacing-x2);
  }

  &LoginLink {
    text-decoration: none;
  }
}
