.groups {

    &Group {
        width: 12%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        height: 45px;
        text-align: center;
        
        &Active {
            border: 2px solid rgba(25, 118, 210, 0.5);
            height: 55px;
            border-bottom: none;
            width: 20%;
            font-weight: bold;

            &:hover{
                border-bottom: none;
            }
        }

        &Name{
            line-height: 18px;
        }
    }
}


@media (max-width: 600px) {
    .groups {

        &Group {
    
            &Name{
                font-size: 10px;
            }
        }
    }
}

