.textbookMain {

    &Groups{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 60px;
        align-items: flex-end;
    }

    
}